/* Your CSS Code here. */
.moviePic{
	height:300px;
	width:800px;
	opacity:1.0px;
	display:flex;
	justify-content:center;
}
.movieDetail{
	position:sticky;
    top:5px;
	width:800px;
	text-align:center;
	font-size:20px;
	color:maroon;
	
	
}